@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face  {
    font-family: "cinema_viona";
    src: url(../static/cinema_viona/Cinema\ Viona.ttf) format(opentype),
format(truetype)}

@font-face  {
    font-family: "bonita";
    src: url(../static/bonita_4/BONITA.ttf) format(opentype),
    format(truetype)}


* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1620177088163-012f511de69d?q=80&w=1285&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* para cobrir todo o fundo */
    background-attachment: fixed; /* para tornar a imagem de fundo fixa */
    background-position: bottom center; /* para centralizar a imagem */
}

header {
    background: linear-gradient(135deg, #a8a39e5d, #e014055e); /* Gradiente de cores */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    border-bottom-left-radius: 40px; /* Borda arredondada no canto inferior esquerdo */
    font-family: 'Bebas Neue', sans-serif; /* Fonte estilizada */
}
        
h1 {
    font-size: 2.5em;
    font-family: "cinema_viona";
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623); /* Sombra no texto */
}

#categoria > option {
    text-align: center;
    text-transform: uppercase;

}

.questionario {
    margin: 190px auto 40px; /* Define margem superior e inferior de 50px e centraliza horizontalmente */
    text-align: center;
    padding: 50px;
    background-color: #ff0e0e54;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 450px;
}

.questionario h2 {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: initial;
    font-family: "bonita";
}

.questionario form {
    margin-bottom: 15px;

}

.questionario select {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "Embed code";
    font-size: 0.9em;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.questionario button {
    padding: 10px 22px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.questionario button:hover {
    background-color: #555;
}

.conteudo {
    margin-top: 20px;
    text-align: center;
    font-style: initial;
    font-size: 1.4em;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 1px black; /* Contorno preto de 1px */
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


footer {
    text-align: center;
    background-color: #1e4980;
  
    position: fixed;
    bottom: 0;
    left: 0;
  
    width: 100%;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #ff0e0ee7;
    margin: auto;
    text-align: center;
}

.p {
    color: rgb(255, 255, 255);
}
